dist/
logs/
project/boot/
project/plugins/project/
project/plugins/src_managed/
target/

ensime-langserver.log
http.pid
npm-debug.log
pc.stdout.log

.ensime*
.sbt-launch.jar
.protoc
.idea
.iml
.DS_Store

**/*.iml
