html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 30px; /* Margin bottom by footer height */
}

/* Ensure anchor links display below navbar */
:target:before {
  content:"";
  display:block;
  height: 115px; /* fixed header height*/
  margin: -115px 0 0; /* negative fixed header height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 5px 0 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

img {
  max-width: 100%;
}

.doc .main {
  max-width: 580px;
}

.toc {
  margin-left: 30px;
}

.col-md-3, .col-md-8 {
  padding: 0;
}

.main.container, .doc.container {
  margin-top: 15px;
}

.nav li {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
  margin: 16px 10px 10px;
}

.nav li.current a {
  color: white;
}

.nav li a {
  padding: 0 0 4px 0;
}

.navbar-header > button {
  margin-top: 15px;
}

@media (min-width: 992px) {
  .container {
    max-width: 860px;
    padding: 0;
  }
}

.navbar-header {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 3px;
}

.navbar-nav {
  margin-top: 5px;
}

.navbar-brand-img img {
  height: 40px;
}

.navbar-brand-img {
  padding: 12px;
  float: left;
}

ul.pagination li:before {
   content: none;
}

.navbar {
  background-color: #424242;
}

.alert {
  background-color: #A2EACF;
  color: #526252;
  border-color: #50D7AD;
  margin: 15px 0px;
  padding: 5px;
  text-align: center;
  border-radius: 0px;
}

img.logo {
  padding: 50px;
}

@media (max-width: 400px) {
  .link-buttons a {
    margin-bottom: 5px;
  }
}

.sub-nav {
  margin-top: 60px;
  margin-left: 30px;
}

.sub-nav .list-group-item {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  border: none;
  border-radius: 0px;
  font-weight: 600;
}

.sub-nav .list-group-item.active {
  background-color: #02B2C8;
}

.screenshot {
  border: solid 1px black;
  margin-bottom: 5px;
}
