<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Whoops!</h4>
    </div>
    <div class="modal-body">
      <p>Looks like there was an issue completing your request.</p>
      <pre>{{.}}</pre>
    </div>
  </div>
</div>
