<div class="client-container clearfix">
  <div class="router-header-large"style="border-bottom: 2px solid {{clientColor}};">
    /{{client}}
  </div>
  <div class="metrics-container col-md-6"></div>
  <div class="col-md-6">
    <div class="router-graph-header">Client success rate</div>
    <div class="chart-container "></div>
  </div>
</div>
