<div class='dentry row'>
  <div class='dentry-part dentry-prefix col-md-5' data-dentry-prefix='{{prefix}}'>
    {{prefix}}
  </div>
  <div class='fake-column text-center col-md-1'>=></div>
  <div class='dentry-part dentry-dst col-md-6' data-dentry-dst='{{dst}}'>
    {{dst}}
  </div>
  <div class='fake-column col-md-1'>;</div>
</div>
