<div class='dentry row'>
  <div class='dentry-part dentry-prefix col-md-5' data-dentry-prefix='{{prefix}}'>
    <span class='prefix-content'>{{prefix}}</span>
  </div>
  <div class='fake-column text-center col-md-1'>=></div>
  <div class='dentry-part dentry-dst col-md-5' data-dentry-dst='{{dst}}'>
    <span class='dst-content'>{{dst}}</span>
  </div>
  <div class='fake-column col-md-1'>;</div>
</div>
<div  class="row">
  <div class="col-md-5"></div>
</div>
