<div class='dentry'>
  <div class='dentry-part dentry-prefix' data-dentry-prefix='{{prefix}}'>
    <span class='prefix-content'>{{prefix}}</span>
  </div>
  <div class='fake-column text-center'>=></div>
  <div class='dentry-part dentry-dst' data-dentry-dst='{{dst}}'>
    <span class='dst-content'>{{dst}}</span>
  </div>
  <div class='fake-column'>;</div>
</div>
<div class='clearfix'></div>
