<h2>Namerd stats</h2>
<div class="namerd-metrics-container">
  {{> metricPartial connections containerClass="metric-container" metricClass="metric-large"}}
  {{> metricPartial bindcache containerClass="metric-container" metricClass="metric-large"}}
  {{> metricPartial addrcache containerClass="metric-container" metricClass="metric-large"}}
</div>
