<div id="process-info">
  <ul class="list-inline topline-stats">
    {{#each stats}}
      <li class="col-md-2" data-key="{{dataKey}}">
        <strong class="stat-label">{{description}}</strong>
        <span id="{{elemId}}" class="stat">{{value}}</span>
      </li>
    {{/each}}
  </ul>
</div>
