<div class="client-container clearfix">
  <div class="header-line">&nbsp;</div>
  <div class="router-header-large">
    <div class="client-id">
      <div class="pull-left transformer-prefix" style="display: none">{{prefix}}</div>
      <div class="pull-left client-suffix is-first">{{client}}</div>
    </div>
    <div class="client-toggle pull-right">
      <a class="client-expand" target="blank">expand</a>
      <a class="client-collapse" target="blank">collapse</a>
    </div>
  </div>
  <div class="client-content-container">
    <div class="metrics-container col-md-6"></div>
    <div class="chart-container col-md-6">
      <div class="router-graph-header">Client success rate</div>
      <div class="client-success-rate"></div>
    </div>
    <div class="clearfix"></div>
    <div class="bar-chart-container row">
      <div class="col-md-6 lb-bar-chart"></div>
    </div>
  </div>
</div>
