<div class="router row" data-router="{{router}}">
  <div class="router-subsection-title">Router</div>
  <div class="metric-large">{{router}}</div>

  <div class="router-subsection-title svc-subsection">Services</div>
</div>
