<div class="service-client-metrics">
  <div class="service-metrics row">
    <div class="col-md-2">
      {{> metricPartial service.success containerClass="metric-container success-metric-container" metricClass="success-metric metric-large"}}
      {{> metricPartial service.requests containerClass="neutral-metric-container metric-container" metricClass="metric-large"}}
    </div>

    <div class="col-md-2">
      {{> metricPartial service.failures containerClass="metric-container failure-metric-container" metricClass="failure-metric metric-large"}}
      {{> metricPartial service.pending containerClass="neutral-metric-container metric-container" metricClass="metric-large"}}
    </div>

    {{> latencyPartial latencies}}
  </div>
</div>
