<div class="server-header router-header-large">
  {{server}}
</div>

<div class="router-server router-row-container clearfix">
  <div class="server-metrics metrics-container col-md-6"></div>
  <div class="server-success-chart col-md-6">
    <div class="router-graph-header">Server success rate</div>
  </div>
</div>
