{{#each routers}}
  <div class="router router-{{this}} row" data-router="{{this}}">
    <div class="summary row"></div>
    <div class="clients router-clients">
      <div class="router-graph-header">Requests per client</div>
      <canvas class="router-graph" height="181"></canvas>
      <div class="router-subsection-title">Clients</div>
    </div>
    <div class="servers router-servers row">
      <div class="router-subsection-title">Servers</div>
    </div>
  </div>
{{/each}}
