/*
 * css files under ./styleguide/ match the linkerd.io website.
 * This file is intended to override those website styles.
 */

body {
  padding-top: 90px;
}

h1 {
  margin-top: 20px;
}

.container {
  width: 500px;
}

.open > a.dropdown-toggle, .open > a.dropdown-toggle:focus {
  background-color: inherit !important;
}

.dropdown li {
  margin: 0;
}

.dropdown li a {
  padding: 10px 5px;
}