body {
  background-image: radial-gradient(34% 43%, #161963 23%, #090B34 47%);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  min-height: 100vh;
}

.container-fluid {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

nav {
  padding: 9px 28px;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.1
}

#navbar {
  margin-top: 4px;
}

.navbar-brand-img img {
  height: 26px;
}

nav ul.navbar-nav {
  margin-left: 10px;
}

.modal-content {
  border-color: #fff;
  background-color: #999;
}

/* request totals */

.request-totals {
  height: 72px;
  padding: 15px 26px;
  background: #163F79; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #163F79, #4076C4);
  background: -o-linear-gradient(bottom right, #163F79, #4076C4);
  background: -moz-linear-gradient(bottom right, #163F79, #4076C4);
  background: linear-gradient(to bottom right, #163F79, #4076C4);
}

.request-total {
  font-size: 24px;
  line-height: 1.2;
}

.request-total-title {
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
}

/* dtab specific css overrides*/

.panel {
  background-color: transparent;
}

.panel-heading, .panel>.list-group:last-child .list-group-item:last-child {
  border-radius: 0;
}

.dentry .dentry-part:hover {
  background-color: #222;
}

.router {
  border-top: 3px solid gray;
}

.router div {
  text-align: left;
}

.router > div {
  padding:15px;
}

/*
* Router summary
*/

.router-summary {
  clear: both;
}

.router-header {
  float: left;
}

.router-data {
  float: right;
}

.router-data span {
  float: left;
  margin: 0 30px;
  text-align: right;
}
