body {
  background-image: radial-gradient(34% 43%, #161963 23%, #090B34 47%);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  height: 100vh;
}

nav {
  padding: 9px 28px;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.1
}

#navbar {
  margin-top: 4px;
}

.navbar-brand-img img {
  height: 26px;
}

nav ul.navbar-nav {
  margin-left: 18px;
}

.modal-content {
  border-color: #fff;
  background-color: #999;
}

/* dtab specific css overrides*/

.panel {
  background-color: transparent;
}

.panel-heading, .panel>.list-group:last-child .list-group-item:last-child {
  border-radius: 0;
}

.dentry .dentry-part:hover {
  background-color: #222;
}
