.metrics {
  padding: 0 20px 0 20px;
}

.metrics-names {
  padding: 0;
}

.metrics-list {
  border-left: 1px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.metrics-list li {
  color: #02B2C8;
  cursor: pointer;
  padding: 1px 12px 0 12px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metrics-list li:hover:not(.selected) {
  background-color: #efefef;
}

.metrics-list li.selected {
  background-color: #dfdfdf;
}

#metrics-title {
  text-align: right;
}

#metrics-title .name {
  color: #02B2C8;
  font-weight: 500;
}

.metrics-graph {
  text-align: center;
  height: 350px;
  border: 1px solid lightgray;
  padding: 0 10px 0 10px;
}

.metrics-json {
  margin-top: 10px;
  font-size: 20px;
}

.metrics-json a {
  text-decoration: none;
}
