body {
  background-image: radial-gradient(34% 43%, #161963 23%, #090B34 47%);
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  min-height: 100vh;
}

.col-md-2 {
  width: 198px;
  padding: 0 27px 0 0;
}

.col-md-4 {
  width: 396px;
  padding: 0 27px 0 0;
}

.col-md-6 {
  width: 594px;
  padding: 0 27px 0 0;
}

.row {
  margin: 0 -27px 0 0;
}

.container-fluid {
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

nav {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.1;
}

.navbar-container {
  padding: 9px 27px;
  width: 1215px; /*1161 + 27 + 27 (padding)*/
}


.nav {
  margin-top: 4px;
}

.navbar-brand-img img {
  height: 26px;
}

nav ul.navbar-nav {
  margin-left: 10px;
}

.modal-content {
  border-color: #fff;
  background-color: #999;
}

/* request totals */

.request-totals {
  height: 72px;
  padding: 15px 27px;
  background: #163F79; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #163F79, #4076C4);
  background: -o-linear-gradient(bottom right, #163F79, #4076C4);
  background: -moz-linear-gradient(bottom right, #163F79, #4076C4);
  background: linear-gradient(to bottom right, #163F79, #4076C4);
}

.request-total {
  font-size: 24px;
  line-height: 1.2;
}

.request-total-title {
  font-weight: 100;
  font-size: 13px;
  letter-spacing: 1px;
}

/* dtab specific css overrides*/

.panel {
  background-color: transparent;
}

.panel-heading, .panel>.list-group:last-child .list-group-item:last-child {
  border-radius: 0;
}

.dentry .dentry-part:hover {
  background-color: #222;
}

/*
* Router container
*/

.dashboard-container {
  margin: 27px 27px 0;
  width: 1161px;
  border-bottom: 2px solid grey;
}

.proc-info {
  margin: 10px 27px 0;
  width: 1161px;
}

/*
* Router summary
*/

.router-summary-stat dt, .router-summary-stat dd {
  text-align: right;
}

.router .summary {
  border-top: 2px solid gray;
  padding-top: 18px;
}

/**
* Router servers
*/

.router-servers-title {
  border-bottom: 1px solid grey;
}
