/*
* Styles from the new dashboard that are general enough to share.
*/

.metric-header {
  font-size: 13px;
  letter-spacing: 1px;
}

.router-header-large, .metric-large {
  font-size: 21px;
  line-height: 21px;
}

.metric-header {
  font-weight: 300;
}

.metric-small {
  font-size: 12px;
  line-height: 12px;
}

.success-metric-container {
  border-left: 1px solid #4AD8AC;
}

.failure-metric-container {
  border-left: 1px solid #D84A4A;
}

.success-metric {
  color: #4AD8AC;
}

.failure-metric {
  color: #D84A4A;
}
