.input-group .form-control {
  z-index: 0;
}

.hide {
  display: none;
}

.panel, .panel-heading, .list-group-item, .list-group {
  border: none;
  box-shadow: none;
  word-wrap: break-word;
}

.list-group-item.list-group-item-plain {
  background-color: #f5f5f5;
  color: #333;
}

.panel-default>.panel-heading-danger {
  color: #a94442;
  background-color: #f2dede;
}

.panel-default>.panel-heading-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.panel {
  margin-bottom: 0px;
}

.panel > li, .panel > ul {
    margin-left: 50px;
}

.node-info {
  float: right;
  opacity: 0.5;
}

.node-dentry {
  opacity: 0.5;
  margin-left: 10px;
}

.list-group-item .path {
  opacity: 0.5;
}

.dtab {
  margin: 5px 15px;
}

.result {
  margin-bottom: 50px;
}

.delegator .panel .active {
  background-color: #555;
  color: #f4f4f4;
}

.dentry > div {
  float: left;
  word-wrap: break-word;
}

.dentry {
  font-family: monospace;
}

.dentry .fake-column {
  width: 36px;
  padding: 5px 3px;
}

.dentry-part {
  font-family: monospace;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  text-align: left;
  border: 1px solid lightgray;
}

.delegator .dentry-part:hover {
  background-color: #f4f4f4;
  box-shadow: 0 0 10px 0 lightgray;
  cursor: hand;
}

.delegator .dentry .dentry-part:hover {
  background-color: #222;
}

.dentry-part.active {
  background-color: #555;
  color: #f4f4f4;
}

#dtab-edit {
  margin-bottom: 10px;
  width: 50%;
  padding-right: 15px;
}

#reset-dtab-link {
  font-size: 12px;
  padding: 5px 10px;
  line-height: 1.5;
}

.save-warning {
  font-size: 12px;
  color: grey;
  padding: 5px 0;
}

.namerd-dtab-warning {
  padding-bottom: 5px;
}
