/*
* Overrides the twitter server logging page styles
*/

#navbar {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
}

#navbar ul.nav>li {
  padding-left: 0px;
  padding-right: 0px;
}

#navbar ul.nav>li>a {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
}

#navbar ul.nav {
  margin-top: -12px;
}

#contents {
  margin-left: 0px;
  padding-top: 0px;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #161963;
}

.table-striped>tbody>tr>td {
  border-top: 1px solid dimgray
}

.table-striped>thead>tr {
  border-bottom: 1px solid dimgray
}

.table>thead>tr>th {
  border-bottom: none;
}

.table h5 {
  color: white;
}

table>caption{
  color: red;
}
