.metrics {
  position: fixed;
  width: 100%;
  top: 64px;
}

.metrics-names {
  padding: 15px;
}

.metrics-list {
  margin-bottom: 0;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.metrics-list li {
  color: #02B2C8;
  cursor: pointer;
  padding: 1px 12px 0 12px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.metrics-list li:hover:not(.selected) {
  background-color: #efefef;
}

.metrics-list li.selected {
  background-color: #dfdfdf;
  border-radius: 5px;
}

#metrics-title {
  text-align: right;
}

#metrics-title .name {
  color: #02B2C8;
  font-weight: 500;
}

.metrics-graph {
  text-align: center;
  height: 350px;
  padding: 0 10px 0 10px;
  position: fixed;
  right: 10px;
  top: 100px;
}

.metrics-json {
  float:left;
}

.metrics-json a {
  text-decoration: none;
}
