h1 {
  font-size: 28px;
  color: #222;
  line-height: 34px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 60px;
  font-weight: 600;
}

h2 {
  font-size: 16px;
  color: #222;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  color: #444;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

h4 {
  font-size: 15px;
  color: #444;
  line-height: 24px;
  font-weight: 600;
}

h5 {
  font-size: 15px;
  color: #444;
  line-height: 24px;
  font-weight: 400;
}

body {
  font: 15px "Proxima Nova", sans-serif;
  color: #444;
  line-height: 24px;
}

p {
  margin-bottom: 20px;
}

code {
  font: 13px Menlo,monospace;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

a {
  color: #02B2C8;
}

a:hover {
  color: #008FA1
}

.main li:before {
  content: '\b7\a0';
  font-size: 17px;
  position: absolute;
  right: 100%;
}

.main li {
  list-style:none;
  position:relative;
}

pre {
  font: 13px Menlo,monospace;
  line-height: 20px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 20px;
}

a.button {
  font-size: 13px;
  font-weight: 100;
  color: #FFF;
  background-color: #02B2C8;
  line-height: 20px;
  letter-spacing: 1px;
  padding: 12px;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

a.button:hover {
  background-color: #19C2D7;
}

a.button:active {
  background-color: #008FA1;
}

a.button.secondary {
  color: #02B2C8;
  background-color: #FFF;
  border: 1px solid #02B2C8;
}

a.button.secondary:hover {
  color: #19C2D7;
  border-color: #19C2D7;
}

a.button.secondary:active {
  color: #008FA1;
  border-color: #008FA1;
}

footer, .date, .meta {
  font-size: 11px;
  color: #777;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.toc ul {
  padding-left: 0;
}

.toc li {
  font-size: 13px;
  line-height: 19px;
  list-style-type: none;
}

.toc li, .toc ul {
  margin-bottom: 6px;
}

.toc li li {
  padding-left: 20px;
}

.toc h1 {
  font-size: 11px;
  color: #444;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 100;
}
